    .fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }

    .contact {
        width:33.33%;
        color:#fdb913;
        font-weight: 600;
        display:flex;
        align-items: center;
    }
    .contact a{
        color:#fdb913;
    }
    .nav-link{
        color: white;
    }

    .navbar{
        background-color: #00008b;
        font-size: 14px;
    }

    .lang{
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }
    .nav-item > a:hover{
        text-decoration: underline;
        color: white;
    }
   
    #main-header{
        height: 100px;
        background-color:#fff;
        border-bottom:1px solid rgba(0,0,0,0.15);
        display:flex;
    }
    
    .logo{
        width:30%;
        display:flex;
        align-items: center;
        margin-left:15px;
    }
    
    .main-menu{
        width:70%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .main-menu a{
        text-decoration: none;
        color:#000;
        font-size:18px;
        margin-right:20px;
    }
    
    .main-menu a:hover{
        color:green;
    }


    .search{
        float: right;
        display: flex;
      }

      /* heet style top header */


    /* tieu de slide */
    #myCarousel .carousel-caption{
            background-color: rgba(0,0,0,0.45);
            border-bottom: 30px solid transparent;
            bottom: 0;
            left: 0;
            right: 0;
            max-height: 130px;
            overflow: hidden;
            padding: 30px 130px 0 30px;
    }


    /* style doan mot */
    #doanmot, #doanhai{
        display: flex;
    
    }

    #doanmot .tieude, #doanhai .tieude{
        color: black;
        font-size: 20px;
    }

    #doanmot .noidung {
        display: flex;
       
    }
 #doanhai .col-md-9 img{
        display: inline-block;
        max-width:100%;
        max-height: 100%;
        vertical-align: middle;
    }

    #doanmot .card-title, #doanhai .card-title{
        color: #000;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 10px;
        margin-top: 20px;
        text-decoration: none;
    } 

    #doanmot a, #doanhai a{
        color: gray;

    }

    #doanhai a:hover{
        text-decoration: underline;
    }

    #doanmot a:hover{
        text-decoration: underline;
    }


    #container{
        background-color: #00008b;
        
    }
    #container a{
        color: white;
    }

     
    










